<div class="row">
    <div class="col-md-4">
        <span>Car Name:</span>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" name="car-name" ng-model="car.name"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <span>Car Model</span>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" name="car-model" ng-model="car.model"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <span>Car Color</span>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" name="car-color" ng-model="car.color"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info" ng-show="editMode" ng-click="update(car)">Update</button>
        <button class="btn btn-success" ng-show="!editMode" ng-click="save(car)">Save</button>
        <button class="btn btn-danger" ng-click="reset()">Reset</button>
    </div>
</div>