<div class="alert alert-info" role="alert">
    We have a total of <strong>({{cars.length}})</strong> cars
</div>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-default">
        <tr>
            <th>#</th>
            <th>Car Name</th>
            <th>Car Model</th>
            <th>Car Color</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="car in cars">
            <th>{{$index + 1}}</th>
            <th>{{car.name}}</th>
            <th>{{car.model}}</th>
            <th>{{car.color}}</th>
            <th>
                <button class="btn btn-success" ng-click="edit(car, $index)">Edit</button>
                <button class="btn btn-danger" ng-click="delete($index)">Delete</button>
            </th>
        </tr>
    </tbody>
</table>
<div class="alert alert-info" role="alert">
    We have a total of <strong>({{cars.length}})</strong> cars
</div>